/* dean.edwards/2004 */
/* keeping code tidy! */

html body, html pre, html code.box, table {font-size: x-small;}
html div.footer {font-size: 0.67em;}
html #my {width: 14em;}
html div.document {width: 85%; height: 0;}
/* "layout" */
html #main-menu li {height: 0;}
html #highlights li {height: 0;}
html #home {height: 0;}
html #buttons a {height: 0;}
span.feed-button {height: 0; cursor: hand;}
div.table {width: 100%;}
html #recent {height: auto;}

/* IE5.0 only */

div.section {
	height: 0;
	voice-family: "\"}\"";
	voice-family: inherit;
}
div.section {
	height: auto;
}
*.comment div.section {
	height: auto;
}

a {
	height: 0;
	vertical-align: top;
	voice-family: "\"}\"";
	voice-family: inherit;
}
a {
	height: auto;
	vertical-align: auto;
}
div.header a {height: auto;}
#syndication * {vertical-align: top;}

html pre, html code.box {
	width: 100%;
	overflow: auto;
	voice-family: "\"}\"";
	voice-family: inherit;
}
html pre, html code.box {
	width: auto;
}

html pre.src {
	overflow-x: auto;
	voice-family: "\"}\"";
	voice-family: inherit;
}
html pre.src {
	overflow-x: visible;
}

#commentlist div.section {
	padding-top: 0;
}
