
/* adapted from forms.css */

xh|input[type=number] {-moz-construct-using-display: 1; -moz-binding: url(wf2-fieldset-disabled.xml#input-number);}
xh|input[type=datetime] {-moz-construct-using-display: 1; -moz-binding: url(wf2-fieldset-disabled.xml#input-datetime);}
xh|input[type=date] {-moz-construct-using-display: 1; -moz-binding: url(wf2-fieldset-disabled.xml#input-date);}
xh|input[type=month] {-moz-construct-using-display: 1; -moz-binding: url(wf2-fieldset-disabled.xml#input-month);}
xh|input[type=time] {-moz-construct-using-display: 1; -moz-binding: url(wf2-fieldset-disabled.xml#input-time);}
xh|input[type=week] {-moz-construct-using-display: 1; -moz-binding: url(wf2-fieldset-disabled.xml#input-week);}
xh|input[type=range] {-moz-construct-using-display: 1; -moz-binding: url(wf2-fieldset-disabled.xml#input-range);}
xh|input[type=range][readonly] {-moz-construct-using-display: 1; -moz-binding: url(wf2-fieldset-disabled.xml#input-range-readonly);}
xh|input[list] {-moz-construct-using-display: 1; -moz-binding: url(wf2-fieldset-disabled.xml#input-list);}

fieldset[disabled] input,
fieldset[disabled] textarea,
fieldset[disabled] option,
fieldset[disabled] optgroup,
fieldset[disabled] select {
  -moz-user-input: disabled;
  -moz-user-focus: ignore;
  color: GrayText;
  background-color: ThreeDFace;
  cursor: inherit;
}

fieldset[disabled] option,
fieldset[disabled] optgroup {
  background-color: transparent;
}

fieldset[disabled] input[type="image"] {
  cursor: inherit;
}

fieldset[disabled] input[type="file"] > input[type="text"] {
  border-color: inherit;
  background-color: inherit;
  -moz-user-focus: ignore !important;
  /* enable user input so that clicking on the control can bring up the
     file dialog. It's still read-only. */
  -moz-user-input: enabled;
  color: inherit;
  font-size: inherit;
  height: inherit;
  letter-spacing: inherit;
}

fieldset[disabled] iinput[type="radio"]
fieldset[disabled] iinput[type="radio"]:active,
fieldset[disabled] iinput[type="radio"]:hover,
fieldset[disabled] iinput[type="radio"]:hover:active,
fieldset[disabled] iinput[type="checkbox"],
fieldset[disabled] iinput[type="checkbox"]:active,
fieldset[disabled] iinput[type="checkbox"]:hover,
fieldset[disabled] iinput[type="checkbox"]:hover:active {
  padding: 1px;
  border: 1px inset ThreeDShadow ! important;
  /* same as above, but !important */
  color: GrayText ! important;
  background-color: ThreeDFace ! important;
  cursor: inherit; 
}

fieldset[disabled] button:active,
fieldset[disabled] button,
fieldset[disabled] input[type="reset"]:active,
fieldset[disabled] input[type="reset"],
fieldset[disabled] input[type="button"]:active,
fieldset[disabled] input[type="button"],
fieldset[disabled] select > input[type="button"],
fieldset[disabled] select > input[type="button"]:active,
fieldset[disabled] input[type="submit"]:active,
fieldset[disabled] input[type="submit"] {
  /* The sum of border-top, border-bottom, padding-top, padding-bottom
     must be the same here and for text inputs */
  padding: 1px 7px 1px 7px;
  border: 1px outset ButtonShadow;
  color: GrayText;
  cursor: inherit; 
}
