/* IE5-7 */
pre, *.pre {white-space: pre; word-wrap: break-word;}

body div.document hr {margin: auto;}
div.footer *.feed-button {font-size: 95%;}
#navigate {height: 1em;}
li.download,
#sourceforge,
#donate,
#no-ie,
#posts,
#work,
a#browse-happy {
	display: inline;
}

/* holly-hackish */
#recent {height: 100%;}

*.feed-button {display: inline-block;}

/* IE5-6 */
div.IE-min-height.content {height: 5em;}
p.IE-bug-fix.permalink {display: inline-block; margin-top: 0;}
#commentlist *.IE-bug-fix.comment {height: 0;}
/* double-margin bug caused by above */
*.IE-bug-fix.comment ul.meta {margin-bottom: 0.67em;}
*.IE-bug-fix.post #commentlist {margin-bottom: -2em;}

/* IE5.x (http://www.tantek.com/CSS/Examples/midpass.html) */
@media tty {
 i{content:"\";/*" "*/}} @import 'ie5win.css'; /*";}
}/* */
